title: NES Asset Repo
description: Nepal Entity Service assets
baseurl: "/"
url: "https://assets.nes.newnepal.org"

markdown: kramdown
highlighter: rouge
theme: minima

plugins:
  - jekyll-feed
  - jekyll-sitemap